---
import Layout from "@/layouts/Layout.astro";
import Main from "@/components/Main.astro";
import MyAnimeList from "@/components/MyAnimeList.vue";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
if (!session) return Astro.redirect("/");

export const prerender = false; // Server Side Rendering
---

<Layout title="My Animes">
  <Main>
    <section class="mt-14 p-8 flex flex-col items-center justify-center">
      <h1 class="text-4xl text-white font-bold">My Anime List</h1>
    </section>
    <MyAnimeList client:only="vue" session={session} />
  </Main>
</Layout>
