---
import Layout from "@/layouts/Layout.astro";
import Main from "@/components/Main.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
if (!session) return Astro.redirect("/");

const { name, email, image } = session.user;

export const prerender = false; // Server Side Rendering
---

<Layout title="Search">
    <Main>
        <section class="mt-14 p-8 flex flex-col items-center justify-center max-w-100 mx-auto">
            <h1 class="text-4xl text-white font-bold mb-12">Account</h1>
            <img src={image} alt={`Profile picture of ${name}`} class="w-24 h-24 rounded-full mb-4" />
            <h2 class="text-zinc-100 mb-2 font-semibold text-2xl">{name}</h2>
            <p class="text-zinc-300 mb-4 font-medium">{email}</p>
            <button id="logout-button" class="w-full bg-white text-black font-medium px-4 py-2 rounded-xl cursor-pointer hover:bg-zinc-200">Logout</button>
        </section>
    </Main>
</Layout>

<script>
  document.addEventListener("astro:page-load", async () => {
    const { signOut } = await import("auth-astro/client");
    const logoutButton = document.querySelector("#logout-button");
    if (logoutButton) {
      logoutButton.addEventListener("click", () => signOut());
    }
  });
</script>