---
import Layout from "@/layouts/Layout.astro";
import Main from "@/components/Main.astro";
import Hero from "@/components/Hero.astro";
import CategoryPreview from "@/components/CategoryPreview.astro";
import Footer from "@/components/Footer.astro";

export const prerender = true; // Client Side Rendering
---

<Layout title="Home">
  <Main>
    <Hero />
    <CategoryPreview />
    <Footer />
  </Main>
</Layout>
