---

---

<a
  href="/login"
  class="m-8 my-14 p-14 border-2 border-zinc-800 rounded-4xl flex justify-center items-center gap-8 text-5xl text-white font-bold hover:bg-zinc-900 transition-colors"
>
  Start Now
</a>
