---
import "@/styles/global.css";
import Navbar from "@/components/Navbar.astro";
import Toast from "@/components/Toast.vue";
import { ClientRouter } from "astro:transitions";

const {
  title = "",
  description = "",
  image = "",
  hideNavbar = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content={description ||
        "Browse a vast list of anime, discover detailed information, ratings, and more."}
    />
    <meta property="og:image" content={image || "/og-image.png"} />
    <meta
      name="keywords"
      content="anime, anime list, anime database, AnimeList, manga, Japanese series"
    />
    <meta name="author" content="AnimeList Team" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} - AnimeList</title>
    <ClientRouter />
  </head>
  <body class="w-full h-full bg-black text-white">
    <Toast client:only="vue" />
    {!hideNavbar ? <Navbar /> : null}
    <slot />
  </body>
</html>
